<div class="form-control">
  <label class="label cursor-pointer">
    <span class="label-text">歌みた動画が公開される5分前に通知を受け取る</span>
    <input id="checkbox-song" type="checkbox" class="toggle" checked="checked" />
  </label>
</div>
<div class="form-control">
  <label class="label cursor-pointer">
    <span class="label-text">当アプリについてのお知らせを受け取る</span>
    <input id="checkbox-info" type="checkbox" class="toggle" checked="checked" />
  </label>
</div>

<!-- <label class="checkbox mb-2">
  <input id="checkbox-song" type="checkbox" />
  歌みた動画が公開される5分前に通知を受け取る
</label>
<label class="checkbox mb-2">
  <input id="checkbox-info" type="checkbox" />
  当アプリについてのお知らせを受け取る
</label> -->

<script>
  const songEle = document.getElementById("checkbox-song") as HTMLElement;
  const infoEle = document.getElementById("checkbox-info") as HTMLElement;

  songEle.addEventListener("click", async () => {
    window.localStorage.setItem("checkbox-song", songEle.checked)
  });

  infoEle.addEventListener("click", async () => {
    window.localStorage.setItem("checkbox-info", infoEle.checked)
  });
</script>
