<label class="checkbox mb-2">
  <input id="checkbox-song" type="checkbox" />
  歌みた動画が公開される5分前に通知を受け取る
</label>
<label class="checkbox mb-2">
  <input id="checkbox-keyword" type="checkbox" />
  指定したキーワードを含む動画がアップロードされた際に通知を受け取る(Androidのみ)
</label>

<script>
  import { isIos } from "../scripts/main";
  const songEle = document.getElementById("checkbox-song") as HTMLElement;
  const keywordEle = document.getElementById("checkbox-keyword") as HTMLElement;

  songEle.addEventListener("click", async () => {
    window.localStorage.setItem("checkbox-song", songEle.checked)
  });

  keywordEle.addEventListener("click", async () => {
    window.localStorage.setItem("checkbox-keyword", keywordEle.checked);
  });

  if (isIos()) {
    keywordEle.disabled = true
  }
</script>
