<div id="ios-modal-js" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box mr-3 ml-3">
      <h3>エラー</h3>
      <p>
        お使いの端末、ブラウザでは使えない場合があります。
        iPhoneなど端末のお使いの方は以下の操作で解消する可能性があります。
      </p>
      <ol>
        <li>
          ブラウザ画面の上部または下部にある共有ボタンをクリック
          <figure>
            <img src="1723771947232.jpg" />
          </figure>
        </li>
        <li>
          表示されたウィンドウを下にスクロールし、ホームに追加をクリック
          <figure>
            <img src="/1723771946901.jpg" />
          </figure>
        </li>
        <li>追加されたアイコンをクリックし、再度アプリケーションを起動</li>
      </ol>
    </div>
  </div>
</div>
