<button id="submit" class="button is-link">通知登録</button>

<script>
  import { toast } from "bulma-toast";
  import { getMessaging, getToken } from "firebase/messaging";
  import { vapidKey } from "../scripts/main";

  const messaging = getMessaging();
  const submitEle = document.getElementById("submit") as HTMLElement;

  submitEle.addEventListener("click", async () => {
    console.log("POST");
    // ローディング表示
    submitEle.classList.add("is-loading");

    // キーワードをindexedDBに登録
    indexedDBSet();

    console.log("generate token...");
    const currentToken = await getFCMToken();
    if (currentToken == "") {
      // ローディング解除
      submitEle.classList.remove("is-loading");
      return;
    }

    const ok = await saveFCMToken(currentToken, {
      song: window.localStorage.getItem("checkbox-song") == "true" ? 1 : 0,
      keyword: window.localStorage.getItem("checkbox-keyword") == "true" ? 1 : 0,
      keyword_text: window.localStorage.getItem("keyword")
    });
    if (!ok) {
      window.alert("トークンの登録に失敗しました");
      // ローディング解除
      submitEle.classList.remove("is-loading");
      return;
    }

    window.localStorage.setItem("fcm-token", currentToken);

    // ローディング解除
    submitEle.classList.remove("is-loading");

    toast({
      message: "登録成功",
      type: "is-success",
      // dismissible: true,
      pauseOnHover: true,
      opacity: 5,
      extraClasses: "mt-6"
    });
  });

  const getFCMToken = async () => {
    try {
      const currentToken = await getToken(messaging, { vapidKey });
      console.log("generated token:", currentToken);
      return currentToken;
    } catch (error) {
      // 通知権限がブロックされている場合
      if (Notification.permission === "denied") {
        window.alert("通知がブロックされています。");
      }

      // 通知権限がブロックされていないが、ユーザーの許可を得れていない場合
      if (Notification.permission === "default") {
        window.alert("通知を許可してください。");
      }

      // 通知権限がブロックされていないが、ユーザーの許可を得れていない場合
      if (Notification.permission === "granted") {
        window.alert("エラーが発生しました。再度通知登録をしてください。");
      }
    }
    return "";
  };

  const saveFCMToken = async (token: string, data = {}) => {
    const url = "/api/subscription";
    const response = await fetch(url, {
      method: "POST",
      cache: "no-cache",
      headers: {
        "Content-Type": "application/json",
        Token: JSON.stringify(token),
      },
      body: JSON.stringify(data), // 本体のデータ型は "Content-Type" ヘッダーと一致させる必要があります
    });

    console.log(response.status);
    console.log(response.ok);
    return response.ok;
  };

  const indexedDBSet = () => {
    const keyword = window.localStorage.getItem("keyword");
    if (keyword == null || keyword == "") return;

    const openRequest = window.indexedDB.open("niji-tuu", 1);

    openRequest.onupgradeneeded = function () {
      console.log("onupgradeneeded");
      const db = openRequest.result;
      if (!db.objectStoreNames.contains("keyword")) {
        console.log("objectStoreNames");
        db.createObjectStore("keyword", { keyPath: "id" });
      }
      // valueSet(db, word)
    };

    openRequest.onerror = function () {
      console.error("indexedDB Error");
      window.alert("indexedDB Error");
    };

    openRequest.onsuccess = function () {
      console.log("onsuccess");
      const db = openRequest.result;
      valueSet(db, keyword);
    };
  };

  const valueSet = (db: IDBDatabase, value: string) => {
    const transaction = db.transaction("keyword", "readwrite");
    const store = transaction.objectStore("keyword");
    const req = store.put({ id: "1", text: value });
    req.onsuccess = (event) => {
      // event.target.result === customer.ssn;
      console.log("onsuccess:", event);
    };
    req.onerror = (event) => {
      console.log("onerror:", event);
    };
  };
</script>
