---
import Layout from "../layouts/Layout.astro";
import WelcomeDialog from "../components/WelcomeDialog.astro";
import IosWarningDialog from "../components/IosWarningDialog.astro";
import CheckBox from "../components/CheckBox.astro";
import SubmitButton from "../components/SubmitButton.astro";
import DeleteButton from "../components/DeleteButton.astro";
import Song from "../components/Song.astro";
import Notice from "../components/Notice.astro";
import Switch from "../components/Switch.astro";
---

<script src="../scripts/load.js"></script>

<Layout>
  <h2>通知設定</h2>

  <WelcomeDialog />
  <IosWarningDialog />

  <Song />
  <Notice />

  <div class="buttons mt-5">
    <SubmitButton />
    <DeleteButton />
  </div>
</Layout>
